*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding:0px; 
}
body, html{
  width: 100%;
  height: 100%;
  text-align: center;
}
.box{
  width: 75%;
  margin: auto;
}
header{
  width: 100%;
  height: 100px;
  padding: 1em;
  background-color: rgb(65, 65, 65);
  color: aliceblue;
}
#mainText{
  font-size: 2.5em;
}
#subText{
  font-size: 1.5em;
  text-align: center;
}
#banner{
  min-height: 350px;
  /* text-align: left; */
  color: aliceblue;
  font-size: 2em;
  
}
#banner .bg-image{
  position: absolute;
  background: #656565 url("../img/barMain_crop.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: ;
  min-height: 350px;
  z-index: -1;
  opacity: 0.75;
}
#banner p{
 
}