*{
  margin: 0px;
  padding:0px; 
}
body, html{
  width: 100%;
  height: 100%;
}
.clear {
  float: none;
}
/* #region header */
header {
  background-color: olivedrab;
  border-bottom: 2px solid darkolivegreen;
}
#logo {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#navMenu {
  text-align: center;
  list-style: none;
  font-size: 24px;
}
#navMenu li {
  display: inline;
}
/* #endregion */
#container {
  width: 92.5%;
  margin: auto;

}

#footer {
  position: fixed;
}